# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\testceshi\hos_refactoring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
